*~
*.vo*
*.aux
*.glob
*.v.crashcoqide
Makefile.conf
.Makefile.d
.CoqMakefile.d
CoqMakefile
CoqMakefile.conf
*:Zone.Identifier
*.log
*.fls
*.dvi
*.out
*.bbl
*.blg
*.fdb_latexmk
*.cache
*.gz
*.pyg
*.vtc
#*.
